.boxHome {
    padding: 30px 0px;
}

.boxroom h3,.boxusers h3{
    font-size: 18px;
}

.boxroom .createroom {

    text-align: center;
}

.boxroom .createroom input {

    border-radius: 4px;
    border: 1px solid #afafaf;
}

.boxroom .createroom button {

    border: 1px solid gray;
    border-radius: 6px;
}

.boxroom .listroom {
    margin: 8px 0px 25px 0px;
    padding-bottom: 10px;
    border-bottom: 1px solid #dddddd;
}

.boxroom .listroom .room_num {

    padding: 5px;
    text-align: center;
    border-radius: 3px;
    background: #dadada;
    font-weight: bold;
}

/* LIST USERS */
.boxusers {}

.boxusers .item-user {

    padding: 8px;
    background: #f1f1f1;
    border-radius: 4px;
    filter: drop-shadow(0px 1px 2px rgba(0 0 0 / 31%));
    margin-bottom: 12px;
}

.boxusers .boxavatar {}

.boxusers .boxavatar img {

    width: 100%;
    border-radius: 4px;
}

.boxusers .boxavatar {}

.boxusers .boxinfo {

    position: relative;
}

.boxusers .boxinfo .top {

    margin-bottom: 6px;
}

.boxusers .boxinfo .top .name {}

.boxusers .boxinfo .top .stateOnline {

    position: absolute;
    right: 5px;
    width: 10px;
    height: 10px;
    top: 4px;
    border-radius: 100%;
}
.boxusers .boxinfo .top .stateOnline.off{
    background: #939393;
}
.boxusers .boxinfo .top .stateOnline.onl{
    background: #019a18;
}
.boxusers .boxinfo .bottom {

    display: flex;
}

.boxusers .boxinfo .bottom .phone {

    margin-right: 18px;
}
.boxusers .boxinfo .bottom .message,
.boxusers .boxinfo .bottom .phone{
    cursor: pointer;
}
.boxusers .boxinfo .bottom .message {}

.boxusers .boxinfo .bottom .phone i {}

.boxusers .boxinfo .bottom .message i {}