
<div class="wrapcaller  coomingcall ">
    <div class="overplay"></div>
    <div class="boxcall">
        <div class="boxCenter">
            <div class="namecaller">Nguyễn Văn A</div>
            <div class="call-animation">
                <i class="fas fa-phone-volume caller-img"></i>
            </div>            
        </div>
        <div class="groupbtn_caller">
            <div class="closecall sambtn"><i class="fa-solid fa-phone-slash"></i></div>
            <div class="acceptcall sambtn"><i class="fa-solid fa-phone-flip"></i></div>
        </div>
    </div>
</div>

<div class="wrapcaller  coomingcall_group ">
    <div class="overplay"></div>
    <div class="boxcall">
        <div class="boxCenter">
            <div class="namecaller">Nguyễn Văn A</div>
            <div class="call-animation">
                <i class="fas fa-phone-volume caller-img"></i>
            </div>            
        </div>
        <div class="groupbtn_caller">
            <div class="closecall sambtn"><i class="fa-solid fa-phone-slash"></i></div>
            <div class="acceptcall sambtn"><i class="fa-solid fa-phone-flip"></i></div>
        </div>
    </div>
</div>



 <style>
.boxCenter{
    text-align: center;
    margin-top: -65px;
}
.wrapcaller{
    display: none;
}
.coomingcall_group .closecall i,
.coomingcall .closecall i{
    color: #d60909;
    font-size: 39px;
    transform: rotate(77deg);
}
.wrapcaller .overplay{
    background:rgba(0 0 0 / 40%);
    width:100%;
    height:100%;
    z-index: 999;
    position:absolute;
    top: 0;
}
.groupbtn_caller{
    display: flex;
    position: absolute;
    bottom: 37px;
    color: white;
}
.groupbtn_caller .sambtn{
    font-size: 36px;
    padding: 0px 100px;
    cursor: pointer;
}

.namecaller{
    margin-bottom: 30px;
    font-weight: bold;
    color: white;
    font-size: 21px;
}
.boxcall{
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #71AFFF;
    width: 400px;
    height: 400px;
    border-radius: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    flex-direction: column;
}
.call-animation{
    margin: 0 auto;
    background: rgb(130, 221, 233);
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: solid 5px rgb(252, 241, 241);
    animation: call 1.5s ease infinite;
    color: aliceblue;
    font-size: 35px;
    font-weight: bold;
    position: relative;
}
  
.caller-img{
    position: absolute;
    height: 50px;
    width: 50px;
    top: 27px;
    left: 25px;
}
  
@keyframes call {
    15% {
        box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.5);
    }
    25% {
        box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.5),
                    0 0 0 16px rgba(255, 255, 255, 0.3);
    }
    30% {
        box-shadow: 0 0 0 12px rgba(255, 255, 255, 0.5),
                    0 0 0 24px rgba(255, 255, 255, 0.3);
    }
}

 </style>